# Node modules
node_modules/

# Build output
# Ми ігноруємо dist, бо Vercel сам згенерує його під час деплою
dist/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel/