@tailwind base;
@tailwind components;
@tailwind utilities;

.h-content {
  & h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    color: white;
    margin-bottom: 8px;
    & span {
      color: $accent-color;
    }
  }

  & h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 43px;
    color: white;
    margin: 60px 0px;
    & span {
      color: $accent-color;
    }
  }

  & h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin: 12px 0px;
    & span {
      color: $accent-color;
    }
  }
  & p {
    font-size: 24px;
    line-height: 42px;
    color: white;
    & b {
      color: $accent-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    & i {
      font-style: italic;
    }
  }

  & a {
    color: $accent-color;
    text-decoration: underline;
    font-size: 24px;
    line-height: 42px;
    &:hover {
      text-decoration: none;
    }
  }
  & figure {
    margin-bottom: 16px;
    & picture {
      display: block;
      width: 100%;
      & img {
        display: block;
        width: 100%;
        transition: 0.5s;
      }
    }
  }
  & ul, ol {
    margin: 32px 0px;
  }
  & li {
    gap: 12px;
    color: $text-color;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 32px 0px;
    &::marker {
      color: $accent-color;
    }
  }

  & blockquote {
    & p {
      font-weight: 400;
      font-style: italic;
      font-size: 24px;
      line-height: 42px;
      color: $accent-color;
      margin: 32px 0px;
    }
    & span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;

      & a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color: $text-color;
      }
    }
  }
}