@tailwind base;
@tailwind components;
@tailwind utilities;

.article {
  h1 {
    @apply font-bold text-[48px] leading-[52px] text-white mb-2;

    span {
      @apply text-accent;
    }
  }

  h2 {
    @apply font-bold text-[40px] leading-[43px] text-white my-[60px];

    span {
      @apply text-accent;
    }
  }

  h3 {
    @apply font-bold text-[32px] leading-[36px] text-white my-3;

    span {
      @apply text-accent;
    }
  }

  p {
    @apply text-[18px] leading-[29px] font-light text-white my-5;

    b {
      @apply text-accent font-bold text-[16px] leading-[24px];
    }

    i {
      @apply italic;
    }
  }

  a {
    @apply text-accent underline text-[24px] leading-[42px];

    &:hover {
      @apply no-underline;
    }
  }

  figure {
    @apply mb-4;

    picture {
      @apply block w-full;
    }

    img {
      @apply block w-full transition-all duration-500;
    }
  }

  ul,
  ol {
    @apply my-8;
  }

  li {
    @apply gap-3 text-white font-normal text-[24px] leading-[24px] my-8;

    &::marker {
      @apply text-accent;
    }
  }

  blockquote {
    p {
      @apply font-normal italic text-[24px] leading-[42px] text-accent my-8;
    }

    span {
      @apply font-normal text-[16px] leading-[24px] text-white;

      a {
        @apply font-normal text-[16px] leading-[24px] underline text-white;
      }
    }
  }
}