@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-auto
         3xl:max-w-[1920px] 3xl:px-[0px];
}
.container {
  @apply px-[48px] mx-auto
         md:max-w-[88%] md:px-[40px]
         lg:max-w-[2094px] lg:px-[118px]
         xl:max-w-[1152px] xl:px-[0px]
         2xl:max-w-[2300px] 2xl:px-[0px];
}