@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-auto  ;
}
.container {
  @apply px-[48px] 
         md:max-w-[88%] md:px-[0px]
         lg:max-w-[2094px] lg:px-[118px]
         xl:max-w-[1152px] xl:px-[0px]
         2xl:max-w-[2300px] 2xl:px-[156px]
         3xl:max-w-[1920px] 3xl:px-[0px];
}